html { font-size: 62.5%; } /* for rems */
body { font-family: Helvetica, Arial, sans-serif; color: #333;  
      opacity: 0.7;
    filter: alpha(opacity=70);margin : 10% 5% 10% 10%
}

/* block level */

h1 { font: bold 4.2rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2 { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3 { font: bold 1.5rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

.wf-active body,
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6 { font-family: "effra"; }

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }
.wf-active p { font-weight: 300; }

form { margin: 0 0 1.5em; }


/*setting margins etc*/
.page-wrapper { width: 90%; margin: 0 auto; }

.main h3, .preamble h3, .select { visibility: hidden; font-size: 2rem; text-transform: uppercase; letter-spacing: 0.1em; color: #263358; }
.wf-active .main h3, .wf-active .preamble h3 { font-weight: 900; }

.main h3:after, .preamble h3:after, .select:after { visibility: visible; display: block; }

.main p, .preamble p { font-size: 2rem; }
.wf-active .main p, .wf-active .preamble p { line-height: 1.4; }

.next a,
.previous a,
.viewall a,

.summary p:nth-child(2) a
{	
        transition-property: none;
   -moz-transition-property: none;
-webkit-transition-property: none;
     -o-transition-property: none;
}

.next a:after,
.previous a:after,
.viewall a:after,
.zen-resources a:after,
.summary p:nth-child(2) a:after 
{ opacity: 0; }


.summary p { text-transform: uppercase; letter-spacing: 0.1em; font-size: 1.8rem; line-height: 1.6; }


/*-------------------------------------------    
    Preamble
-------------------------------------------*/
.preamble { background: transparent url(i/sep.png) no-repeat 50% 0; }
	.preamble h3:after { visibility: visible; content: "";  }


.pis { background: transparent url(i/sep.png) no-repeat 50% 0; }
	.pis h3:after { visibility: visible; content: "";  }


.students { background: transparent url(i/sep.png) no-repeat 50% 0; }
	.students h3:after { visibility: visible; content: "";  }


[role="banner"] h1 { padding: 1em 0 0; text-transform: uppercase; letter-spacing: 0.1em; font-size: 3.5rem; font-weight: 900; color: #182e4f; visibility: hidden;  }
[role="banner"] h1:before { content: "CyPhyHouse"; visibility: visible; display: block; }
[role="banner"] h1:after { content: "A distributed robotics framework"; visibility: visible; display: block; color: #aaa; letter-spacing: 0.5em; font-size: 1.4rem; font-weight: normal; margin: 0.5em 0 3em; color: rgba(24, 46, 79, 0.4); }

[role="banner"] h2 { visibility: hidden; display: none; text-transform: uppercase; font-weight: 400; color: rgba(41, 78, 134, 0.5); }
[role="banner"] h2:after { content: ""; visibility: visible; display: block; }


[role="members"] h1 { padding: 1em 0 0; content: "CyPhyHouse Team"; text-transform: uppercase; letter-spacing: 0.1em; font-size: 3.5rem; font-weight: 900; color: #182e4f; visibility: visible;}
[role="members"] h1:before {  visibility: hidden; display: block; }
[role="members"] h1:after { content: ""; visibility: visible; display: block; color: #aaa; letter-spacing: 0.5em; font-size: 1.4rem; font-weight: normal; margin: 0.5em 0 3em; color: rgba(24, 46, 79, 0.4); }

[role="members"] h2 { visibility: hidden; display: none; text-transform: uppercase; font-weight: 400; color: rgba(41, 78, 134, 0.5); }
[role="members"] h2:after { content: ""; visibility: visible; display: block; }


.preamble p:after{content:""}


a {
text-decoration : none;
color : #a28351;
position : relative;
transition : all 0.25s linear;
}
a:after {
content : "";
display : block;
background : #a28351;
height : 2px;
width : 100%;
position : absolute;
bottom : -0.2em;
left : 0;
opacity : 0;
transition : all 0.25s linear;
}
a:hover, a:focus {
color : #000;
}
a:hover:after, a:focus:after {
opacity : 1;
bottom : 0;
}

.selection { margin: 3em 0 0; }
	.selection ul { list-style: none; width: 94%; margin: 0 auto; }
	.selection ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.selection li { float: left; width: 50%; font-size: 1.2rem; margin: 0 0 1em; color: #aaa; }
		.selection li:nth-child(odd) { width: 47%; padding-right: 3%; clear: left; }

			.description { display: block; font-size: 1rem; font-weight: bold; margin: 0 0 0.24em; text-transform: uppercase; letter-spacing: 0.1em; position: relative; }
			.description:after { background: none; opacity: 0; }
						
			.description { color: #7989a3; }
			.description:after, footer a:after { height: 1px; }


.select:after { content: ""; font-size: 1.8rem; text-align: center; width: 7em; margin: 0 auto 2em; padding: 2em 0 0; color: #182e4f; visibility: visible; }

.archives, .resources { position: absolute; left: -9999px;  }

.next { margin-right: 3em; }
	.next a { background: transparent url(s/czg.svg) no-repeat 10px -56px; width: 43px; height: 37px; }
	.next a:hover, .next a:focus { background-position: 10px -138px; }

.previous { margin-right: 3em; }
	.previous a { background: transparent url(s/czg.svg) no-repeat 10px -220px; width: 43px; height: 37px; }
	.previous a:hover, .previous a:focus { background-position: 10px -302px; }

.viewall { margin-left: 1em; }
	.viewall a { background: transparent url(s/czg.svg) no-repeat -56px -55px; width: 39px; height: 39px; }
	.viewall a:hover, .viewall a:focus { background-position: -56px -137px; }




.option {
display : block;
font-size : 1.4rem;
font-weight : bold;
margin : 0 0 0.24em;
text-transform : uppercase;
letter-spacing : 0.1em;
position : relative;
}
.option:after {
background : none;
opacity : 0;
}
.option:hover {
font-style : italic;
}

.description {
color : #7989a3;
}
.description:after, footer a:after {
height : 1px;
}
/*.sidebar { float:left; width:150px; min-height:400px; }*/



@media screen and (min-width: 700px) {

	body { background-attachment: fixed; background-position: 90% 80%; }

	.intro:before { content: ""; display: block; width: 105px; height: 30px; position: fixed; top: 154px; left: 3%; background: transparent url(s/czg.svg) no-repeat -184px -99px; }

	[role="article"], [role="banner"], [role="members"], footer { padding: 0 30% 10em 10%; text-align: right; position: relative; }
		[role="article"] h3, [role="banner"] ,[role="members"] h2 { position: absolute; top: -0.75em; left: 75%; width: 10em; text-align: left; font-size: 1.5rem; letter-spacing: 0; }
		[role="article"] h3:after { position: absolute; top: 0; }

	[role="banner"], [role="members"] { padding-top: 200px; padding-bottom: 3em; }
		
		[role="banner"] ,[role="members"] h1 { font-size: 4.8rem; letter-spacing: 0; line-height: 0.8; }
		[role="banner"], [role="members"] h1:after { position: absolute; top: 15.7em; right: 30%; }
		
		[role="banner"] ,[role="members"] h2 { display: block; top: 8.1em; width: 3em; left: 75.5%; font-size: 1.9rem; line-height: 1; }
		[role="banner"] ,[role="members"] h2:before { visibility: visible; content: ""; display: block; position: fixed; top: -0.1em; bottom: 0; left: -0.5em; right: 0; margin: auto; /*right: 25%;*/ font-weight: 900; font-size: 50rem; color: rgba(0, 0, 0, 0.15); width: 100%; height: 2em; line-height: 1; transform: rotate(-90deg); -ms-transform: rotate(-90deg); /* IE 9 */ -webkit-transform: rotate(-90deg); /* Safari and Chrome */  }

		.summary p:nth-child(2) { background: yellow; position: relative; visibility: hidden; top: 2em; font-size: 1.4rem; }

			.summary p:nth-child(2):before { content: ""; display: block; visibility: visible; position: absolute; right: 21em; top: -0.25em;  width: 6em; height: 30px; }

			.summary p:nth-child(2):after { content: ""; display: block; visibility: visible; position: absolute; right: 14em; top: -0.25em;  width: 6em; height: 30px; }

			.summary p:nth-child(2) a { visibility: visible; width: 6em; height: 25px; text-indent: 100%; white-space: nowrap; overflow: hidden; display: block; position: absolute; top: 0; right: 7em; }
			.summary p:nth-child(2) a:hover, .summary p:nth-child(2) a:focus { background-position: -396px -3px; text-indent: 0; background: none; }
			
			.summary p:nth-child(2) a[href*="css"] { background-position: -472px -94px; right: 0; }
			.summary p:nth-child(2) a[href*="css"]:hover, .summary p:nth-child(2) a[href*="css"]:focus { background-position: -512px -4px; }

	.preamble { padding-top: 10em; }
		.preamble h3 { top: 5.9em; }

	.design-selection li { width: 23%; margin-bottom: 3em; padding-right: 2%; }
	.design-selection li:nth-child(odd) { width: 23%; clear: none; padding-right: 2%; }

	.next { margin-right: 2em; margin-left: -0.4em; }
	.viewall { margin-left: 0; }

	footer { padding-bottom: 3em; margin-top: -5em; }
}


@media screen and (min-width: 1130px) {

	[role="article"], [role="banner"] { padding-left: 25%; }

	.selection { position: absolute; left: 5%; top: 30em; }
		.selection ul { margin: 0; width: 100%; }
			.selection li { float: none; width: 100% !important; padding: 0 !important; margin-bottom: 2em;}
		.select:after { text-align: left; background-position: 0 bottom; padding: 0 0 2em; margin: 0 0 2em; }

	.design-archives { position: absolute; left: 5%; top: 95em; }

}


@media screen and (min-width: 1130px) and (min-height: 1037px)  {
	.selection, .design-archives { position: fixed; }

}



@-webkit-keyframes FADEY {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.intro { 
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: 1;
}


[role="summary"] {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 0.8s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}



[role="article"] {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 0.8s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}
